.container {
    background: linear-gradient(#fff, #c6c5d7);
    border: 1px solid #3e628c;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    font-weight: normal; // Submit in Safari iOS is bold
    padding: .4em 1.2em;

    &:focus {
        border-color: #08f;
    }
}
