.container {
    align-items: center;
    color: #000;
    display: flex;
    font-family: "Arial", sans-serif;
    gap: 35px;
    justify-content: space-between;
    padding: 20px;
    width: 320px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputRow {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.input {
    appearance: textfield; // For Firefox
    border: 1px solid #bbbfc4;
    box-sizing: border-box;
    font-size: 16px;
    padding: 4px;
    width: 60px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
