@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.container {
    background-color: #ece9d8;
    display: flex;
    flex-shrink: 0;
    font-size: 16px;
}

.item {
    background-color: transparent;
    border: none;
    color: #000;
    font-family: "SegoeUI", sans-serif;
    font-size: 1em;
    white-space: nowrap;

    & > * {
        pointer-events: none; // To work well with releasePointerCapture()
    }
}

.rootItem {
    flex-grow: 1;
    height: 1.85em;
    padding: 0;
    padding-left: .5em;
    padding-right: .7em;

    &:enabled {
        &.hover,
        &.active {
            background-color: #316ac5;
            color: #fff;
        }
    }

    &:disabled {
        color: #aca899;
    }
}

.label {
    pointer-events: none;
    position: relative;
    top: -.1em;
}

.submenuContainer {
    position: relative;
}

.submenu {
    background-color: #fff;
    border: 1px solid #aca899;
    box-shadow: 8px 8px 8px -4px #000;
    color: #000;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: .25em;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.animated {
    animation: fadeIn .3s;
}

.submenuItem {
    align-items: center;
    display: flex;
    height: 1.55em;
    padding: 0;
    padding-left: 1.5em;
    padding-right: 1.6em;
    text-align: left;

    &.hover { // Using class instead of :hover to handle touch hover too
        background-color: #316ac5;
        color: #fff;

        .checkedIcon {
            filter: invert(100%);
        }
    }

    &Shortcut {
        margin-left: 99px; // TODO
    }
}

.checkedIcon {
    height: .65em;
    image-rendering: pixelated;
    left: .6em;
    position: absolute;
}

.separator {
    background-color: #aca899;
    height: 1px;
    margin: .4em 0;
}
